In [ ]:
###### IMPORT #######
import pandas as pd
import json
import FinanceDataReader as fdr
from datetime import datetime

In [2]:
###### MAKE MARKET DATA #######

#json data 열기
code_list = []
with open("기업정보.json", encoding='utf-8') as f:
    data = json.load(f)
    for i in range(len(data)):
        code_list.append(str(data[i]["종목코드"]))
        
#print(code_list)

#주식현황 불러오기
df_krx = fdr.StockListing('KOSPI')
year = '2022'

market = pd.DataFrame()

for i in code_list:
    code = i
    new_market = fdr.DataReader(code,year)
    new_market['Code'] = i
    new_market = new_market.reset_index()
    col1 = new_market.columns[-1:].to_list()
    col2 = new_market.columns[:-1].to_list()
    new_col = col1 + col2
    new_market = new_market[new_col]
    market = pd.concat([market,new_market])

market.to_csv(year+'.csv')   
print("Ok")

Ok
<class 'pandas.core.frame.DataFrame'>
Int64Index: 43782 entries, 0 to 218
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Code    43782 non-null  object
 1   Date    43782 non-null  datetime64[ns]
 2   Open    43782 non-null  int64
 3   High    43782 non-null  int64
 4   Low     43782 non-null  int64
 5   Close   43782 non-null  int64
 6   Volume  43782 non-null  int64
 7   Change  43781 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(5), object(1)
memory usage: 3.0+ MB

In [8]:
###### MAKE EVENT DATA #######

#json data 열기
code_list = []
ent_list = []
with open("기업정보.json", encoding='utf-8') as f:
    data = json.load(f)
    for i in range(len(data)):
        code_list.append(str(data[i]["종목코드"]))
        ent_list.append(data[i]["기업이름"])
        
event = pd.DataFrame()
event['종목코드'] = code_list
event['종목이름'] = ent_list

event.to_json('event.json', orient = 'records', indent = 1, force_ascii=False)
print('OK')

     종목코드      종목이름
0  005930      삼성전자
1  373220  LG에너지솔루션
2  000660    SK하이닉스
3  207940  삼성바이오로직스
4  051910      LG화학

In [3]:
###### MAKE STATUS DATA #######

#json data 열기
code_list = []
major_list = []
have_list = []
ratio_list = []
with open("주주현황.json", encoding='utf-8') as f:
    data = json.load(f)
    for i in range(len(data)):
        code_list.append(str(data[i]["종목코드"]))
        major_list.append(str(data[i]["주요주주"]))
        have_list.append(data[i]["보유주식수"])
        ratio_list.append(data[i]["보유지분"])
        
status = pd.DataFrame()
status['종목코드'] = code_list
status['주요주주'] = major_list
status['보유주식수'] = have_list
status['보유지분'] = ratio_list

status.to_csv('status'+'.csv', index=False, encoding='euc-kr')
print('OK')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 554 entries, 0 to 553
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목코드    554 non-null    object
 1   주요주주    554 non-null    object
 2   보유주식수   554 non-null    int64
 3   보유지분    554 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 17.4+ KB

     종목코드                           주요주주       보유주식수   보유지분
0  005930                   삼성생명보험 외 15인  1241176035  20.79
1  005930                         국민연금공단   458637667   7.68
2  005930  BlackRock Fund Advisors 외 15인   300391061   5.03
3  373220                      LG화학 외 1인   191501000  81.84
4  000660                   에스케이스퀘어 외 9인   146125674  20.07